extends templates/layout.pug

block content
    <div id="content-root">
        <div class="container">
            <p class="flow-text">Please check your inbox and confirm the email address you provided us.</p>
            <p class="flow-text">Didn't get an email?</p>
            form(action="confirmEmail")
                //- <a class="btn" v-on:click="confirmEmail">Resend confirmation</a>
                a.btn.waves-effect.waves-light(href="/admin/confirmation/resend") Resend confirmation
        </div>
    </div>