extends templates/layout.pug

block content
    <div id="content-root">
        <div class="container">
            <p class="flow-text">That confirmation seems to have fallen out of favour.</p>
        </div>
    </div>