extends templates/layout.pug

block content
    <div id="content-root">
        <div class="container">
            <p class="flow-text">Welcome to the Money Jar. Go get yours.</p>
        </div>
    </div>