extend templates/layout.pug

block content
    .container
        h1 Your Money Jar as a Smart URL.
        
    .white
        .container
            .row
                .col.s12.m8
                    p.flow-text Allow your supporters to tip you on their preferred platforms without the need for sharing a different link to your accounts on each of these platform. The list of platforms you can link to will continuesly be updated.
                .col.s12.m4
                    img.responsive-img(src="/admin/static/img/money-notes-in-jar.jpg", alt="Tips in the jar")
    .white
        .container
            .row
                .col.s12.m4
                    img.responsive-img(src="/admin/static/img/post-money-jar.jpg", alt="Tips in the jar")
                .col.s12.m8
                    p.flow-text Direct supporters to prefered payment platforms. The order in which the your jars will appear will subconsiciously influence how your supporters interact with you.
    .white
        .container
            .row
                .col.s12.m8
                    p.flow-text Track which platform gets the most clicks.
                .col.s12.m4
                    img.responsive-img(src="/admin/static/img/peanut-money-jar.jpg", alt="Tips in the jar")