extend templates/layout.pug

block content
    .container
        .center
            h1 Share One URL
            
            p.flow-text.center
                a.flow-text(onclick="copyLink(event)" href="/admin") 
                    //- i.material-icons content_copy
                    span#jar-link https://jar.money/brand
                    
            h3 to get you paid
            .container
                .row
                    .col.s12.l6
                        a(href="/admin")
                            .row
                                .col.s4.slot-space
                                    img.slot-img(src="/admin/static/img/patreon_logo.svg", alt="patreon") 
                                .col.s8.center.slot-space.green
                                    .call-to-action
                                        p.black-text.green.flow-text Attract New Patreons
                    .col.s12.l6
                        a(href="/admin")
                            .row
                                .col.s4.slot-space
                                    img.slot-img(src="/admin/static/img/paypal.svg", alt="paypal") 
                                .col.s8.center.slot-space.green
                                    .call-to-action
                                        p.black-text.green.flow-text Accept Donations

                    .col.s12.l6
                        a(href="/admin")
                            .row
                                .col.s4.slot-space
                                    img.slot-img(src="/admin/static/img/bitcoin.svg", alt="bitcoin") 
                                .col.s8.center.slot-space.green
                                    .call-to-action
                                        p.black-text.green.flow-text Get Tips
                    .col.s12.l6
                        a(href="/admin")
                            .row
                                .col.s4.slot-space
                                    img.slot-img(src="/admin/static/img/ethereum.svg", alt="ethereum") 
                                .col.s8.center.slot-space.green
                                    .call-to-action
                                        p.black-text.green.flow-text & tokens of Appreciation
            h4 on all your accepted platforms
    .container
        p.flow-text Lead your supporters to their preferred platform to support your work. Whether it's your patreon, paypal.me, bitcoin wallet, and cash.me account, use one link to lead to them all. 