extend templates/layout.pug


//- block favicon
    link(rel="icon",  href="/admin/image/"+jar.image.id)

block content
    .container
        .center
        p.red-text.flow-text Jar of that name doesn't exist.
        //- TODO: Lead user to create a new jar...

block footer
    footer.page-footer.green(role="navigation")
        .row
            .col.s12
                <div class="container">
                    //- span &copy;  2017 <a href="https://kngako.com" target="_blank" class="black-text">Kgothatso Ngako
                    <a class="black-text text-lighten-4 right" href="/"  target="_blank">Powered by Money Jar</a>
                </div>
        //- <div class="footer-copyright">
        //-     <div class="container">&copy;  2017 <a href="https://kngako.com" target="_blank" class="black-text">Kgothatso Ngako<a class="black-text text-lighten-4 right" href="http://eregardless.com"  target="_blank">{e}regardless</a></div>
        //- </div>