extend templates/layout.pug

block content
    .container
        h1 Unauthorized
        p.flow-text caused by dividing by zero.
        //- TODO: Give users an option to log this as an error on github.
        