doctype html
html(lang="en" dir="ltr")
    head
        <meta charset="utf-8">

        <meta http-equiv="x-ua-compatible" content="ie=edge">

        //- <!-- Apple Touch Icon (at least 200x200px) -->
        <link rel="apple-touch-icon" href="/admin/static/img/k.svg">

        //- <!-- To run web application in full-screen -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        
        //- <!-- Status Bar Style (see Supported Meta Tags below for available values) -->
        //- <!-- Has no effect unless you have the previous meta tag -->
        <meta name="apple-mobile-web-app-status-bar-style" content="black">

        

        //- <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        style
            //- include ../css/materialize.min.css
            include ../css/site.css
        
        
        <link type="text/css" rel="stylesheet" href="/admin/static/css/materialize.min.css"  media="screen,projection"/>
        //- <link type="text/css" rel="stylesheet" href="/admin/static/css/site.css"  media="screen,projection"/>
        
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        block favicon
            <link rel="icon" type="image/png" href="/admin/static/img/favicon.png"/>

        //- SEO stuff goes here...
        block seo
            title Money Jar - Lead them to the right money jar
            <meta name="description" content="The url shortener that allows you to aggregate platforms which you accept payments on">
        
        block facebookSEO
            //- URL should be explicit and resolved
            <meta property="og:url" content="http://jar.money" />
            <meta property="og:type" content="website" />
            <meta property="og:title" content="Money Jar" />
            <meta property="og:description" content="One URL to lead to all you money jars"/>
            //- image url should alway be resolved and rendered
            <meta property="og:image" content="http://jar.money/static/img/k.svg" />
            <meta property="fb:app_id" content="238540263188666" />

        block twitterSEO
            <meta name="twitter:card" content="summary" />
            <meta name="twitter:site" content="@kpangako" />
            <meta name="twitter:creator" content="@kpangako" />
        
        //- Google Analytics and the likes: Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-81711306-5"></script>
        <script>window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag('js', new Date());gtag('config', 'UA-81711306-5');
        </script>

    body
        header(role="banner")
            
            nav.green
                .container
                    .nav-wrapper
                        a.brand-logo(href="/") Money Jar
                        ul#nav-mobile.hide-on-med-and-down.right
                            li
                                <a href="/admin">Open Your Jar</a>
                            //- li
                                <a href="/explore">Explore Jars</a>
        
        main(role="main")
            //- .container.center
            //-     p Under developement
            block content
                .container
                    p.flow-text Show love and support

            

        block footer
            footer.page-footer.green(role="navigation")
                <div class="container">
                    <div class="row">
                    <div class="col l6 s12">
                        <h5 class="white-text">The Money Jar</h5>
                        <p class="grey-text text-lighten-4">Drop a few coins in these money jars.</p>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h5 class="white-text">Shameless Plug</h5>
                        <ul>
                            <li><a class="black-text text-lighten-3" href="https://github.com/kngako/jar.money.git">Github</a></li>
                            <li><a class="black-text text-lighten-3" href="https://twitter.com/kpangako">Twitter</a></li>
                            <li><a class="black-text text-lighten-3" href="https://facebook.com/lawreat">Facebook</a></li>
                        </ul>
                    </div>
                    </div>
                </div>
                <div class="footer-copyright">
                    <div class="container">&copy;  2017 <a href="https://kngako.com" target="_blank" class="black-text">Kgothatso Ngako<a class="black-text text-lighten-4 right" href="http://eregardless.com"  target="_blank">{e}regardless</a></div>
                </div>
        
        //- TODO: Add a condition to use cdn in production...
        <script type="text/javascript" src="/admin/static/js/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="/admin/static/js/materialize.min.js"></script>
        <script type="text/javascript" src="/admin/static/js/site.js"></script>
